@use '../core/variables';

.home {
    min-height: 100vh;
   // background-color: variables.$background-color;
    margin: auto;
    width: 100%;
    padding: 2rem 2rem 5rem 2rem;
}

.hero {
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    gap: 2rem;
    justify-content: space-between;
    &__info {
        width: 45%;
    }

    &__title {
        font-size: 2.3rem;
        
    }
    &__image-container {
        width: 55%;
    }
    &__image{
        width: 100%;
    }
    @media all and (max-width: 900px) {
        flex-direction: column;
         &__info {
        width: 100%;
        }
         &__image-container {
        width: 100%;
         }
    }
}

