@use '../core/variables';

.card {
    margin-bottom: 1rem;
    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;    
        text-transform:uppercase;
        width: 100%;
    }

    &__text {
        width: 100%;
    }
    &__image-container {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    &__image {
        width: 80%;
        padding: 1rem 0;
    }

        &--small--right {
            width: 30%;
            text-align: right;
            margin-left: 70%;
        }
        &--medium--left {
            width: 45%;
        }
        &--big--left {
            width: 55%;
        }

        @media all and (max-width: 728px) {
            &--small--right {
                width: 100%;
                margin-left: 0%;
            }
            &--medium--left {
                width: 100%;
            }
            &--big--left {
                width: 100%;
            }
        }
        &__link {
            width: 100%;
            color: variables.$text-color;
            display: block;
            margin-top: 1rem;
            cursor: pointer;
            transition-duration: 0.1s;
            transition-timing-function: ease-in;
            &:hover {
                color: variables.$main-color;
            }
        }
}

.wrap-container {
   position: relative;
   display: flex; 
   &__box {
    position: relative;
   }
    &__front {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        transition: transform 0.5s ease-in-out;
        background-color: rgb(255, 255, 255);
        height: 100%;
    }
    &__back, &__front {
        padding: 1.5rem 2rem;
    }
    &__back {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: rotateY(-180deg);
        transition: transform 0.5s ease-in-out;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__box:hover &__front {
        transform: rotateY(-180deg);
        transition: transform 0.5s ease-in-out;
        transform-style: preserve-3d;
        transition: transform 0.5s ease-in-out;
    }
    &__box:hover &__back {
        transform: rotateY(0deg);    
    }
}

