@use '../core/variables';

.project {
    max-width: 1200px;
    padding: 4rem 2rem 2rem 2rem;
    margin: auto;
    color: variables.$text-color;
    &__link {
        color: variables.$secondary-color;
        margin: 1rem 0;
        display: block;
    }
    &__title {
        font-size: 3rem;
        font-weight: 300;
        margin: 1rem 0;
    }
    &__text {
        width: 100%;
        padding: 2rem 0;
    }
    &__parragraph {
        padding: 0.5rem 0;
    }
    &__subtittle {
        color: variables.$text-color;
    }
    &__image-container {
        width: 100%;
    }
    &__image {
        width: 100%;
    }
}
