@use './core/reset';
@use './core/variables';
@use './core/general';
@use './core/animations';
@use './components/navigation';
@use './components/home';
@use './components/projects';
@use './components/project';
@use './components/about';
@use './components/footer';
